{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb-base",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:prettier/recommended",
    "plugin:security/recommended",
    "plugin:jest/recommended"
  ],
  "globals": {
    "NodeJS": true,
    "NodeModule": false
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["@typescript-eslint", "jest", "security", "react"],
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "env": {
    "jest/globals": true,
    "node": true
  },
  "rules": {
    "@typescript-eslint/explicit-function-return-type": ["off"],
    "@typescript-eslint/explicit-member-accessibility": [
      "error",
      {
        "accessibility": "explicit",
        "overrides": {
          "constructors": "no-public"
        }
      }
    ],
    "arrow-parens": ["error", "always"],
    "complexity": ["error", 4],
    "import/extensions": ["error", { "ts": "never" }],
    "import/order": [
      1,
      {
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "groups": ["external", "builtin", "internal", "sibling", "parent", "index"],
        "pathGroups": [
                  { "pattern": "components", "group": "internal" },
                  { "pattern": "common", "group": "internal" },
                  { "pattern": "routes/**", "group": "internal" },
                  { "pattern": "assets/**", "group": "internal", "position": "after" }
                ],
        "pathGroupsExcludedImportTypes": ["internal"]
      }],
    "import/prefer-default-export": ["off"],
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error",
    "max-len": "off",
    "newline-per-chained-call": "off",
    "no-console": "off",
    "no-nested-ternary": "error",
    "no-restricted-syntax": ["off", "ForOfStatement"],
    "no-undefined": "error",
    "no-undef": "error",
    "react/no-unescaped-entities": [
      "error",
      {
        "forbid": [
          { "char": ">", "alternatives": ["&gt;"] },
          { "char": "}", "alternatives": ["&#125;"] }
        ]
      }
    ],
    "sort-imports": ["warn", { "ignoreCase": true, "ignoreDeclarationSort": true }]
  }
}
