{
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier"],
  "extends": [
    "airbnb-base",
    "prettier",
    "prettier/@typescript-eslint",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": "error",
    "semi": "off",
    "@typescript-eslint/semi": ["error"],
    "quotes": ["error", "double"],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/indent": "2",
    "no-console": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}

// "lint": "prettier --write '**/*.{js,ts}' && eslint --fix '**/*.{js,ts}'",
